/* ------------------ */
/* Section backgrounds */
/* ------------------ */

.section-top {
  background-color: #c5c6c7;   /* light grey */
  padding: 20px 150px;
  text-align: center;
  color: black;
  font-family:'Figtree',sans-serif'
}

.section-top h2 {
  font-size:3rem;
  margin:0;
}

.hero-image-section {      
  display: flex;
  justify-content: center;
  margin-top: -80px;            /* pulls image upward to overlap top section */
  margin-bottom: -80px;         /* pulls image downward slightly if needed */
  z-index: 1;                   /* ensures it visually sits above sections */
  position: relative;
}

.section-bottom { 
  padding: 120px 20px;
  text-align: center;
}

/* ----------------- */
/* Image and frame   */
/* ----------------- */

.image-frame {
  border: 4px solid #d65727;   /* dark orange border */
  border-radius: 18px;
  padding: 0px;
  background-color: transparent;
}

.hero-image {
  display: block;
  width: 70vw;                  /* large image size */
  max-width: 700px;             /* caps max size */
  height: auto;
  border-radius: 14px;
}
